.Card {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: var(--shadow);
  background-color: var(--system-background--secondary);
  border: solid 1px var(--border-color)
}

.ProductCard {
  width: 32rem;
  min-height: 28rem;
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
}

.NetworkCard {
  position: relative;
  flex-grow: 1;
}

.Card-imageContainer {
  display: flex;
  height: 12.5rem;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  overflow: hidden;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: var(--system-text--primary);
  box-sizing: border-box;
}

.Card-imageContainer img {
  min-height: 12.5rem;
  object-fit: cover;
  object-position: center;
  flex: 1 1 auto;
}

.Card-imageContainer img.logo {
  object-fit: cover;
  object-position: center;
  flex: 1 1 auto;
  box-sizing: border-box;
  height: 8rem;
  width: auto;
  padding: 1rem
}

.Card--description {
  font-size: 11pt;
  margin-bottom: 6rem;
  max-width: 37.5rem;
}

.NetworkCard .Card--description {
  max-width: 13rem;
}

.Card--techStack-description {
  font-size: 8pt;
  position: absolute;
  bottom: 1.5rem;
  left: 2rem;
  width: calc(100% - 4rem);
}

@media (max-width: 899px) {
  .ProductCard {
    width: 100%;
  }
}
