:root {
  --link-padding: 2rem 0;
  --link-padding--condensed: 0.875rem 0;
  --link-font-size: 14pt;
  --link-font-size--condensed: 12pt;
  --transition: all 0.2s ease-in-out;
}
.Header {
  width: 100vw;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  gap: 2rem;
}

.Header--condensed {
  box-shadow: var(--shadow);
}

:root[color-mode="dark"] .Header--condensed {
  background-color: var(--system-background--primary);
}

:root[color-mode="light"] .Header--condensed {
  background-color: var(--system-background--primary-inverse);
}

.Header-link {
  color: var(--palette-special--least-prominent);
  padding: var(--link-padding);
  text-decoration: none;
  border-bottom: solid 5px transparent;
  transition: var(--transition);
  font-size: var(--link-font-size);
}

.Header--condensed .Header-link {
  padding: var(--link-padding--condensed);
  font-size: var(--link-font-size--condensed);
}

.Header-link:hover, .Header-link:active {
  border-bottom-color: var(--palette-special--least-prominent);
}

.Header > :not(.DarkmodeToggle) {
  color: #f7f5f5;
}

.Header > .DarkmodeToggle {
  margin-right: 2rem;
  padding: var(--link-padding);
  transition: var(--transition);
  box-sizing: content-box;
}

.Header--condensed > .DarkmodeToggle {
  margin-right: 2rem;
  padding: var(--link-padding--condensed);
}

.DarkmodeToggle.light-mode {
  color: var(--palette-special--least-prominent);
}
.DarkmodeToggle.dark-mode {
  color: var(--palette-special--more-prominent);
}
