:root {
  --webgl-banner-overlay: #3c1e3f;
}

:root[color-mode="dark"] {
  --webgl-banner-overlay: #2b332a;
}

.Banner-overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 11;
  animation: fade 3s ease-in-out forwards;
}

.Banner-overlay ~ canvas {
  animation: blur 3s ease-in-out forwards;
  overflow: hidden;
  clip-path: border-box;
  background-color: var(--webgl-banner-overlay);
}

@keyframes blur {
  0% {
    filter: blur(0.1rem);
  }
  100% {
    filter: blur(0.5rem);
  }
}

@keyframes fade {
  0% {
    opacity: 0.75;
  }
  100% {
    opacity: 0.9;
  }
}