@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root,
:root[color-mode="light"] {
  --border-radius: 0.5rem;
  --system-text--primary: #333;
  --system-text--secondary: #777;
  --system-text--primary-inverse: #f7f5f5;
  --system-background--primary: #f7f5f5;
  --system-background--primary-inverse: #222;
  --system-background--secondary: #fff;
  --palette-special--more-prominent: rgb(131, 37, 150);
  --palette-special--least-prominent: rgb(161, 105, 224);
  --palette-special--more-subtle: rgb(254, 239, 255);
  --shadow: rgba(50, 50, 93, 0.15) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.2) 0px 4px 8px -4px;
  --border-color: #dddddd;
  --palette-informative--most-prominent: #003366;
  --palette-informative--more-prominent: #094e97;
  --palette-informative--less-prominent: #3477c0;
  --palette-informative--least-prominent: #5698df;
  --palette-informative--least-subtle: #7cb3ee;
  --palette-informative--less-subtle: #a6cbf3;
  --palette-informative--more-subtle: #c8dff7;
  --palette-informative--most-subtle: #ecf5ff;
  --background-image: url(./assets/headshot-dither.png)
}
:root[color-mode="dark"] {
  --system-text--primary: #f7f5f5;
  --system-text--secondary: #a7a5a5;
  --system-text--primary-inverse: #333;
  --system-background--primary: #141415;
  --system-background--primary-inverse: #f7f5f5;
  --system-background--secondary: #202027;
  --palette-special--more-subtle: #384430;
  --palette-special--least-prominent: #83b466;
  --palette-special--more-prominent: #c5f062;
  --shadow: rgba(0, 0, 0, 0.5) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.5) 0px 4px 8px -4px;
  --border-color: #2b2b2b;
  --palette-informative--most-subtle: #003366;
  --palette-informative--more-subtle: #094e97;
  --palette-informative--less-subtle: #3477c0;
  --palette-informative--least-subtle: #5698df;
  --palette-informative--least-prominent: #7cb3ee;
  --palette-informative--less-prominent: #a6cbf3;
  --palette-informative--more-prominent: #c8dff7;
  --palette-informative--most-prominent: #ecf5ff;
  --background-image: url(./assets/headshot-dither-inverse.png)
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Inter";
  color: var(--system-text--primary);
  transition: all 0.3s ease-in-out;
  background-color: var(--system-background--primary);
  box-sizing: border-box;
}

a {
  color: var(--palette-special--more-prominent);
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: var(--palette-special--least-prominent);
}

.grid-section {
  position: relative;
  z-index: 0;
}

@media screen and (min-width: 900px) {
  .main-content {
    padding: 0 8rem;
  }
}

@media screen and (min-width: 1200px) {
  .main-content {
    padding: 0 16rem;
  }
}

@media screen and (min-width: 1600px) {
  .main-content {
    padding: 0 20rem;
  }
}

@media screen and (min-width: 1921px) {
  .grid-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .main-content {
    padding: 0 24rem;
  }
}

.App {
  max-width: 100%!important;
  overflow-x: hidden;
  clip-path: view-box;
}

* {
  box-sizing: border-box;
}
.about-me-card {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.about-me-card-image {
  background-image: var(--background-image);
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-me-text {
  position: relative;
  padding: 2rem;
}

.about-me-text div {
  margin-top: 150px !important
}

.about-me-header {
  position: absolute;
  left: -7.5rem;
  top: 0;
  margin: 0;
  z-index: 1;
}

.my-work-headline, .about-me-header, .my-resume-headline {
  font-size: 6.25rem;
}

@media (max-width: 768px) {
  .about-me-card {
    grid-template-columns: 1fr;
  }
  
  .about-me-card-image {
    height: 300px;
  }

  .about-me-header {
    display: flex;
    position: unset;
  }
  .my-work-headline, .about-me-header, .my-resume-headline {
    font-size: 3.125rem;
  }
  .about-me-text div {
    margin-top: 0 !important
  }
}
@media (min-width: 1921px) {
  .about-me-card {
    grid-template-columns: 0.25fr 1fr;
  }
}