:root {
  --message-info-background: var(--palette-informative--most-subtle)
  --message-info-color: var(--palette-informative--most-prominent);
}

.message {
  min-width: 3rem;
  max-width: 24rem;
  min-height: 2rem;
  border-radius: 0.5rem;
  display: flex;
  border-style: solid;
  border-width: 1px;
  padding: 0.75rem;
  font-size: 10pt;
  gap: 0.5rem;
}

.message--info {
  background-color: var(--palette-informative--most-subtle);
  border-color: var(--palette-informative--more-prominent);
}

.message--info .icon {
  color: var(--palette-informative--more-prominent);
}
